/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
**/.DS_Store

/caddy
frankenphp
frankenphp-worker.php

# Million Lint
.million/*

# ziggy
ziggy.d.ts
ziggy.js

# ide-helper
_ide_helper.php
.phpstorm.meta.php
